*{
    margin: 0;
    background-size: contain;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------------------header----------------*/

header{
    height: 10vh;
    background:  gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #icon{
    font-size: 2rem; 
    margin-left: 10px;  
    margin-right: 10px;   
}


/* ------------------nav----------------*/

nav{
    background: #a0a0a0;
    height: 90vh;
    min-height: 55rem;
    width: 20%;
    min-width: 10rem;
    max-width: 18rem;
    float: left;
}
nav>div{
    margin: 2rem;
}

nav p{
    font-size: 1.1rem;
    margin: 0.3rem;
}

nav li{
    margin: 0.5rem;
}

nav .navSerch{
    inline-size: auto;
}

nav .navSerch input{
    width: 70%;
    min-width: 5rem;
    max-width: 12rem;
}

/* ------------------section----------------*/
