#logo{
    position: relative;
    top: 60px;
    border: 0px;
    height: 80px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bgSelect{
    position: relative;
    top: 120px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div a{
    position: inherit;
    margin-left: 8%;
    margin-right: 7%;
}
.bgimg{
    position: relative;
    top: 200px;
}
.testimg{
    position: inherit;
    height: 400px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
